main{
    margin-top: 75px;
    background-color: white;
}
figure{
    margin: 0;
    display: flex;
    flex-direction: column;
}
figcaption {
    margin-top: 5px;
    font-size: var(--legende);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--paragraphe);
    font-style: italic;
    text-align: center;
    margin-left: 20px;
}
.section__intro{
    background-color: var(--black);
}
.intro__card{
    margin: 0px 20px;
    background-color: var(--white);
}
.intro__cover{
    width: 100%;
}
.intro__logo{
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    margin-bottom: -10px;
    margin-right: 15px;
}
.intro__texte{
    margin-left: 10px;
    width:calc(100% - 20px);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--paragraphe);
    margin-top: 25px;
}
.intro__texte2{
    margin: 0 10px;
}
.intro__button{
    margin-top: 10px;
    background-color: var(--white);
    border: solid var(--black) 1px;
    height: 35px;
    width: 120px;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-left: calc(100% - 130px);
}
.intro__button>p{
    color: var(--black);
    margin: 0;
    font-family: 'Tenor sans', sans-serif;
    font-weight: 400;
    font-size: var(--titre-3);
}
.section__info{
    background-color: var(--black);
    color: var(--white);
}
.info__titre{
    margin: 0;
    padding-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'Tenor sans', sans-serif;
    font-weight: 400;
    font-size: var(--titre-2);
}
.info__texte{
    margin: 0 20px;
    margin-top: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--paragraphe);
    display: flex;
    flex-direction: column;
}
.info__tableau{
    margin-top: 10px;
    margin-left: 20px;
    width: calc(100% - 40px);
}
.info__ligne{
    height: 30px;
}
.info__colonne{
    padding: 0 10px;
    text-align: center;
    width: calc(100%/3);
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--paragraphe);
    padding-bottom: 5px;
}
.info__colonneCenter{
    border-left: solid var(--white) 1px;
    border-right: solid var(--white) 1px;
}
.info__titre2{
    margin-left: 20px;
    font-family: 'Tenor sans', sans-serif;
    font-weight: 400;
    font-size: var(--titre-3);
    margin: 5px 0;
    margin-left: 20px;
}
.info__ligneTexte{
    margin: 0 20px;
    display: flex;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--paragraphe);
}
.info__texte50{
    width: 50%;
    margin: 0;
}
.info__button {
    color: var(--white);
    background-color: var(--black);
    border: solid var(--white) 1px;
    height: 35px;
    width: 150px;
    border-radius: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: calc(50% - 75px);
}
.info__button>p {
    margin: 0;
    font-family: 'Tenor sans', sans-serif;
    font-weight: 400;
    font-size: var(--titre-3);
}
.info__texteTarifs{
    margin: 5px 30px;
}
.section__frise{
    padding: 50px 0;
    row-gap: 50px;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section__Abio {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--paragraphe);
    border-bottom-left-radius: 50px;
}
.texte__correctif{
    padding-top: 10px;
}