.footer {
    background-color: var(--black);
    color: white;
}

.footer__title{
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
}
.footer__paragraphe .footer__lien .footer__copyright{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

/*
font-family: 'Poiret One', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Tenor Sans', sans-serif;
*/