.frise__cardLien {
    width: calc(90%/2);
    text-decoration: none;
}

.frise__cards {
    background-color: var(--black);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 10px;
}

.frise__date {
    margin: 0;
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
    font-size: var(--date);
    line-height: 40px;
    text-align: center;
}

.frise__figure {
    margin: 0;
}

.frise__image {
    width: 100%;
}

.frise__legende {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--paragraphe);
    text-align: center;
    height: 50px;
    display: flex;
}

.frise__legende>p {
    display: flex;
    flex-direction: column;
    margin: auto;
}