.section__Aintro{
    padding-bottom: 5px;
}
.Aintro__titre{
    margin-left: 20px;
    height: 30px;
    padding-top: 10px;
    font-family: 'Tenor sans', sans-serif;
    font-weight: 400;
    font-size: var(--titre-2);
    margin-bottom: 0;
}
.Aintro__image{
    width: 100%;
    border-bottom-left-radius: 1px ;
    border-bottom-right-radius: 1px;
}
.section__Aarticle {

}
.Aarticle__image1{
    width: 185px;
    border-radius: 25px 50px 25px 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 100px;
}
.Aarticle__portrait{
    margin-top: 30px;
    margin-left: 50px;
    margin-left: 20px;
    width: 100px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    float: left;
    padding-right: 10px;
}
.Aarticle__texte{
    margin: 0 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: var(--paragraphe);
    margin-top: 10px;
}
.Aarticle__texte1{
    margin-top: 30px;
}
.Aarticle__image2 {
    margin-top: 10px;
    width: calc(100% - 40px);
    margin-left: 20px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}
.Aarticle__image3 {
    margin-top: 35px;
    margin-bottom: 15px;
    margin-left: calc(100% - 205px);
    width: 185px;
    border-radius: 25px 50px 25px 50px;
}
