.section__Aartiste{

}
.Aartiste__titre{

}
.Aartiste__image{
    width: 150px;
}
.Aartiste__texte{

}
.section__Astory{

}
.Astory__portrait1{
    width: 185px;
    border-radius: 25px 50px 25px 50px;
}
.Astory__texte{

}
.Astory__image1{
    width: 185px;
    border-radius: 50px 25px 50px 25px;
}
.Astory__portrait2{
    width: 185px;
    border-radius: 25px 50px 25px 50px;
}
.Astory__image2 {
    width: 185px;
    border-radius: 25px 50px 25px 50px;
}